<template>
    <div class="align-items-center justify-content-center row">
        <div class="mt-5">
            <b-card
                tag="article"
                class="mb-2"
                style="min-width: 40rem;"
            >
                <template v-slot:header>
                    <div  class="d-flex justify-content-between">
                        <h4 class="mb-0">Add Profiles</h4>
                    </div>
                </template>
                <b-card-body>
                    <div>
                        <b-form @submit="onSubmit"  id="createProfile">
                            <b-alert
                                :show="showImgError"
                                variant="danger"
                            >
                                {{errorMessage}}
                            </b-alert>
                            <b-form-group id="input-group-2" label="Your Name:" label-for="input-2" >
                                <b-form-input
                                    id="input-2"
                                    v-model="form.name"
                                    :state="validationName"
                                    placeholder="Enter name"
                                    name="name"
                                ></b-form-input>
                            </b-form-group>
                            <b-form-group id="input-group-1" label="Your Name:" label-for="input-2" >
                                <label for="image" class="btn btn-success">Add image +
                                    <input id="image" name="images[]" type="file" multiple @change="uploadImage" ref="file-input" class="mb-2 d-none"/>
                                    <div v-if="showImgError" class="invalid-feedback">
                                        Please provide a valid city.
                                    </div>
                                </label>

                            </b-form-group>
                            <b-form-group>
                                <div class="d-flex">
                                    <div class="position-relative" v-for="photo in photos">
                                        <button class="btn btn-danger position-absolute" type="button" @click="deleteImg(photo.id)">x</button>
                                        <img :src="photo.url" alt="" width="130" height="130" class="border p-1">
                                    </div>
                                </div>
                            </b-form-group>
                            <b-button type="submit" variant="primary">Submit</b-button>
                        </b-form>
                    </div>
                </b-card-body>
            </b-card>
        </div>
    </div>
</template>

<script>
    import Axios from "axios";

    export default {
        data() {
            return {
                form: {
                    name: '',
                    images: [],
                },
                photos: [],
                showImgError: false,
                errorMessage: ""
            }
        },
        computed: {
            validationName() {
                return !!this.form.name.length
            }
        },
        mounted() {
            this.getProfile()
        },
        methods: {
            getProfile() {
                Axios.get('api/profiles/'+this.$route.params.id).then(res => {
                    this.form = res.data.data;
                    this.form.images =  res.data.data.pictures.map((picture) => {
                        return picture.id;
                    })
                    this.photos = res.data.data.pictures;
                }).catch(err => {
                    this.errorMessage = err.response.data.message;
                    this.showImgError = true;
                })
            },
            uploadImage(e) {
                let formData = new FormData();
                let files = [...e.target.files];
                for (let i = 0; i < files.length; i++) {
                    formData.append("images[]", files[i]);
                }
                Axios.post('api/picture', formData).then(res => {
                    this.photos = [...this.photos, ...res.data.data];
                    this.form.images = [...this.form.images, ...res.data.picture_ids];
                }).catch(err => {
                    this.errorMessage = err.response.data.errors
                    this.showImgError = true;
                })
            },
            deleteImg(id) {
                Axios.delete('api/picture/' + id).then(res => {
                    let filteredPictures = this.photos.filter(p => {
                        return p.id !== id
                    });
                    let filteredImageIds = this.form.images.filter(i => {
                        return i !== id
                    });
                    this.photos = filteredPictures;
                    this.form.images = filteredImageIds;
                }).catch(err => {
                    this.showImgError = true;
                })
            },
            onSubmit(evt) {
                evt.preventDefault();
                if (this.form.name.length) {
                    this.$store.dispatch('EDIT_PROFILES', {id: this.$route.params.id, data: this.form});
                }
            },
        }
    }
</script>
