<template>
    <div class="align-items-center justify-content-center row">
        <div class="mt-5">
            <b-card
                tag="article"
                class="mb-2"
                style="min-width: 40rem;"
            >
                <template v-slot:header>
                    <div  class="d-flex justify-content-between">
                        <h4 class="mb-0">Profiles</h4>
                        <b-button to='/creat-profile' variant="primary">Add Profile</b-button>
                    </div>

                </template>
                <b-card-body>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Image</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(profile, index) in PROFILES">
                                <td>{{profile.name}}</td>
                                <td>
                                   <div class="d-flex">
                                       <div v-for="picture in profile.pictures">
                                           <img :src="picture.url" width="130" height="130" class="border p-2 mr-2">
                                       </div>
                                   </div>
                                </td>
                                <td>
                                    <b-button :to="{ name: 'edit_profile', params: { id: profile.id } }" type="button" variant="success">Edit</b-button>
                                    <b-button @click="removeProfile(index, profile.id)" type="button" variant="danger">Delete</b-button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </b-card-body>
            </b-card>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    export default {
        mounted() {
            this.$store.dispatch('GET_PROFILES');
        },
        methods: {
            removeProfile(index, id) {
                this.$store.dispatch('DELETE_PROFILES', {index: index, id: id});
            },
        },
        computed: {
            ...mapGetters(['PROFILES']),
        }

    }
</script>
